.head {
	background-color: #1f1f1f;
}

fieldset {
	border-radius: 10px;
}

.menu.links {
	background-color: #f8f9fa !important;
	padding: 10px 0;
}

.version {
	background-color: #d39d38 !important;
	color: white !important;
}
