<div class="ui container">
    <div class="ui four column divided grid">
        <div class="row">
            <fieldset class="column">
                <legend>Store</legend>
                <button class="ui black button">Mes Commandes ({{ nbOrders }})</button>
                <a href="{{ path('store') }}" class="fluid ui black button">Parcourir le store</a>
            </fieldset>
            <div class="column"></div>
            <fieldset class="column">
                <legend>Paniers</legend>
                <a href="{{ path('newBasket') }}" class="fluid ui green button">Nouveau</a><br>
                <a href="{{ path('basket') }}" class="fluid ui black button">Mes paniers ({{ nbBaskets }})</a>
            </fieldset>
        </div>
        <fieldset class="row ">
            <legend>Promotions en Cours</legend>
            <table class="ui very basic collapsing celled table">
                <tr>
                    {% for prod in promo %}
                    <a href="/{{ path('product', [prod.section, prod.id]) }}">

                        <img src="../../public/assets/img/{{prod.image}}.jpg" alt="alternatetext" width="100"
                            height="80">
                        <!-- use with "../../public/assets/img/chouchou.jpg" in bdd i.e. -->
                        <div>{{ prod.name }}</div>
                        <strong>{{prod.price}}€</strong>
                        <span class="ui red text"> {{ prod.promotion }}% </span>

                    </a>
                    <a href="{{path('addBasket',[prod.id,1])}}"><i class="shopping cart icon"></i></a>
                    </td>
                    {% endfor %}
                </tr>
            </table>
        </fieldset>
        <fieldset class="row ">
            <legend>Consultés récemments</legend>
            <div class="column">
                <h3><u>Nom de la section</u></h3>
                <p>article - prix</p>
            </div>
        </fieldset>
    </div>
</div>