<div class="ui container">

    <div class="ui two column  grid">
        <div class="black column">
            <h1>Store</h1>
            <div class="black column">
                {% for section in sections %}
                <a href="/{{ path('section', [section.id]) }}">{{section.name}} ({{ section.products|length }})</a><br>
                {% endfor %}
            </div>
        </div>
        <div class="column">

            <h2> {{ section.name }} </h2>
            <fieldset>
                <legend>Produits</legend>
                <div class="ui equal width center aligned padded grid">
                    {% for prod in product %}
                    <div class="four wide column">
                        <a href="{{ path('product', [section.id, prod.id]) }}">
                            <img src="/public/assets/img/{{ prod.image }}.jpg" alt="alternatetext" width="100"
                                height="80">
                            <div>{{ prod.name }}</div>
                            <strong>{{prod.price}}€</strong>
                            <a href="{{ path('defaultBasket', [article.id]) }}"
                                class="ui circular mini icon inverted button right floated"><i
                                    class="shopping cart icon"></i></a>
                            <div class="ui label">{{ prod.comments }}</div>
                            <button class="ui circular mini icon inverted button right floated"><i
                                    class="tasks icon"></i></button>
                        </a>
                    </div>
                    {% endfor %}

                </div>
        </div>
    </div>