<div class="ui container">
    <div class="ui two column  grid">
        <div class="column black">
            {% for section in sections %}
            <a href="{{ path('section', [section.id]) }}">{{section.name}} ({{ section.products|length }})</a><br>
            {% endfor %}
        </div>
        <div class="column">
            <fieldset class="row ">
                <legend>Promotions en Cours</legend>
                <table class="ui very basic collapsing celled table">
                    <tr>
                        {% for prod in promo %}
                        <td>
                            <img src="../../public/assets/img/{{prod.image}}.jpg" alt="alternatetext" width="100"
                                height="80">
                            <!-- use with "../../public/assets/img/chouchou.jpg" in bdd i.e. -->
                            <div>{{ prod.name }}</div>
                            <strong>{{prod.price}}€</strong>
                            <span class="ui red text"> {{ prod.promotion }}% </span>
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </fieldset>
            <fieldset class="row ">
                <legend>Consultés récemments</legend>
                <div class="column">
                    <h3><u>Nom de la section</u></h3>
                    <p>article - prix</p>
                </div>
            </fieldset>
        </div>
    </div>
</div>