<div class="ui container">

    <div class="ui two column  grid">

        <div class="column black">
            <h1>Store</h1>
            {% for section in sections %}
            <a href="/{{ path('section', [section.id]) }}">{{section.name}} ({{ section.products|length }})</a><br>
            {% endfor %}
        </div>
        <div class="column">
            <fieldset class="row ">
                <legend>Promotions en Cours</legend>
                <table class="ui very basic collapsing celled table">
                    <tr>
                        {% for prod in promo %}
                        <td>
                            <a href="/{{ path('product', [prod.section, prod.id]) }}">
                                <img src="../../public/assets/img/{{prod.image}}.jpg" alt="alternatetext" width="100"
                                    height="80">

                                <div>{{ prod.name }}</div>
                                <strong>{{prod.price}}€</strong>
                                <span class="ui red text"> {{ prod.promotion }}% </span>
                            </a>
                            <a href="{{path('addBasket',[prod.id,1])}}"><i class="shopping cart icon"></i></a>

                        </td>

                        {% endfor %}
                    </tr>
                </table>
            </fieldset>
            <fieldset class="row ">
                <legend>Consultés récemments</legend>
                <div class="column">
                    <h3><u>Nom de la section</u></h3>
                    <p>article - prix</p>
                </div>
            </fieldset>
        </div>
    </div>
</div>